<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/CSS" href="app/assets/stylesheets/application.css">
    </head>
    <body>
        <div id="page">
            <nav>
                <ul>
                    <li><a href=".">ツイート</a></li>
                    <li><a href=".">ツイートと返信</a></li>
                    <li><a href=".">メディア</a></li>
                    <li><a href=".">いいね</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>